<h1 class="masthead-heading text-uppercase mb-0"> Bienvenue sur The Gossip Project</h1>
</br>
<p> Tu trouveras ci-dessous la liste de tous les gossips : </p>
</br>
<div class="container row justify-content-center">
<% @gossips.each do |gossip| %>
    
    <div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">
  <a href="potin/<%=gossip.id%>" class="btn btn-primary">Voir le potin</a>
  </div>

  <div class="card-body text-dark">
    <h5 class="card-title"><%= gossip.title %></h5>
    <p class="card-text"><em><%= gossip.content %></em></p>
  </div>
</div>

    <% end %>
</div>
