<div class="div_text_centered">
</br>
    <h1>Salut de notre equipe!</h1>
    </br>
    <p>Voici notre equipe :</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card text-white bg-dark mb-3 h-100">
        <div class="card-body">
          <h5 class="card-title">David</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="https://github.com/dav-ngu">GitHub</a>            
        </div>
      </div>
    </div>

    <div class="col">
          <div class="card text-white bg-dark mb-3 h-100">
          <div class="card-body">
              <h5 class="card-title">Wilfried</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <a href="https://github.com/WilfriedPaillot">GitHub</a>
            </div>
          </div>
        </div>
</div>
</br>
<a href="<%= gossips_path %>" class="btn btn-secondary m-3 rounded-pill">Revenir au menu</a>


